@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 56px;
}

.markdown p {
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}

.markdown h2 {
  font-size: 32px;
  padding-left: 16px;
  border-left: 4px solid black;
  font-weight: bold;
  line-height: 56px;
}

.markdown h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.markdown li,
ul {
  list-style: disc;
  list-style-position: inside;
}

.markdown li,
ol {
  list-style: decimal;
  list-style-position: inside;
}
